<p style="color: green"><%= notice %></p>

<%= render @panel %>

<div>
  <%= link_to "Edit this panel", edit_panel_path(@panel) %> |
  <%= link_to "Back to panels", panels_path %>

  <%= button_to "Destroy this panel", @panel, method: :delete %>
</div>
